[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinxcontrib-bibtex = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
ds2 = {editable = true,path = "."}
coverage = "*"
svgwrite = "*"

[packages]

[requires]
python_version = "3.7"
