[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinxcontrib-bibtex = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
ds2 = {editable = true,path = "."}
nose = "*"
ds-viz = {editable = true,path = "./../../../code/dsviz"}
prosecode = {editable = true,path = "./../../../code/prosecode"}

[packages]

[requires]
python_version = "3.7"
